<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Welcome To All Secrets page</h1>

     <% users.forEach(user=>{ %>
        <% user.secrets.forEach(secret=>{ %>
              <div class="secret-text"> 
                  <p style="text-align: right;"> <a href ="/profile/<%=secret.author%>" ><%=secret.author%></a> </p>
                  <div><%= secret.secret %> </div>
                  <sub>posted on : <code><%= secret.created_at %></code></sub>
              </div>           
        <% }) %>
      
    <% }) %>

      <hr>

      
<% if(user) {%>
    <input type="hidden" name="id" value="<%= user.id %>"></input>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
<% } else{%>
    <a class="btn btn-light btn-lg" href="/login" role="button">Log in</a>
    <% } %>
    </div>
  </div>
<%- include('partials/footer') %>
